:global(.ui) {
  .comment {
    overflow: auto;
  }
}

:global(.ui.basic.label).OwnerBtn {
  border: none;
  background: rgb(222, 232, 236); color: rgb(50, 46, 102);
  text-align: right;
}

:global(.ui.basic.label).toolbarBtn {
  border: none
}

